<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dexpaser.zk.myapplication">
    <uses-permission android:name="cydia.permission.SUBSTRATE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.dexpaser.zk.myapplication.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data android:name="com.saurik.substrate.main" android:value=".Main"></meta-data>


        <meta-data android:name="xposedmodule" android:value="true"></meta-data>
        <meta-data android:name="xposeddescription" android:value="第一个hook插件"></meta-data>
        <meta-data android:name="xposedminversion" android:value="54"></meta-data>
    </application>

</manifest>